h1 {
  color: #555
}

.container {
  margin-bottom: 100px
}

.section {
  margin: 40px 0;
}

.oferta {
  margin-top: 25px
}

.oferta img {
  width: 372px;
  height: 240px;
}

.thumbnails {
  margin-top: 10px;
}

.thumbnails img {
  width: 124px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card {
  margin-bottom: 30px;
}

.card-block  {
  padding: 10px;
}
.card-block  .btn {
  display: block;

}
.col-sm-4 img{
  height: 270px;
}
