<div class="fixed-top">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="navbar-brand" >
        <img src="/assets/logo.png" />
      </a>
      <a  [routerLink]="['/checkout']"><i class="material-icons cart">shopping_cart</i></a>

    </div>
  </nav>

  <div class="menu">
    <div class="container" >
      <ul class="nav">
          <li class="nav-item">
              <a class="nav-link " [routerLink]="['/home']" routerLinkActive="active">Eventos</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/order?idBuyer' , getitem() ]"   routerLinkActive="active" >Minha conta</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >Login/Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" (click)="authService.logout()"  routerLinkActive="active">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/banner.jpg" />
</div>
