.cart{
  font-size: 40px;
  color: #FF433A
}

.menu {
  background: #FF433A;
}

.nav-link {
  color: rgb(255, 193, 193)
}

.nav-link:hover{
  color: #FFF;
  transition: all 0.3s
}

.banner {
  margin-top: 110px;
}

.banner img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center top;
}

.active {
  color: #FFF
}
.navbar-brand img{
  width: 90px
}
