<div class="container top">
    <div class="d-flex justify-content-center">
      <h2>Meus pedidos</h2>
    </div>


    <div class="card" *ngFor="let order of orders " >
      <div *ngIf="order !== null; else semPedidos">
        <h5 class="card-header">Número do Pedido: {{order.id}}</h5>
        <div class="card-body">

          <p class="card-text">Forma de pagamento: {{order.formPay}}</p>
          <p class="card-text">Data do pedido: {{order.created | date:"dd/MM/yy" }}</p>
          <p class="card-text">Total do pedido: {{order.total | currency: ['BRL']}}</p>
          <p class="card-text">Ingressos comprados: </p>
          <div *ngFor="let orderItem of order.items">
            <div class="dropdown-divider"></div>
            <div class="itens">
              <img class="item"[src]="orderItem.img" alt="">
              <p class="card-text item">{{orderItem.title }}</p>
              <p class="card-text item">Quantidade: {{orderItem.qtd }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #semPedidos>
        <h4>Você não possui compras!</h4>
    </ng-template>
</div>
